[Unit]
Description=Tick Recorder

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash /usr/scripts/tickrecorder.sh
Type=simple
User=root
Group=root
WorkingDirectory=/home/rory
Restart=always