[Unit]
Description=Tick Recorder

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash @INSTALL_PREFIX@/scripts/tradingo.sh
Type=simple
User=rory
Group=rory
WorkingDirectory=/home/rory
Restart=on-failure

