cmake-build-*
20*
build
build*
data
tmp
wip
docker
.cache
*.swp
compile_commands.json
CMakeCache.txt
CMakeFiles
thirdparty/googletest
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
