[submodule "thirdparty/api-connectors"]
	path = thirdparty/api-connectors
	url = git@github.com:rorymcstay/api-connectors.git
[submodule "thirdparty/websocketpp"]
	path = thirdparty/websocketpp
	url = git@github.com:zaphoyd/websocketpp.git
