.idea/
.gdb_history
cmake-build-*/
*.csv
build/
*.json
.cache/
.aws
.env
*.swp
thirdparty/googletest/
build.release
build.debug
tmp
wip
test.cfg
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
install

*.log
tags
