connectionString=wss://www.bitmex.com

apiKey=-rqipjFxM43WSRKdC8keq83K
apiSecret=uaCYIiwpwpXNKuVGCBPWE3ThzvyhOzKs6F9mWFzc9LueG3yd

storage=/home/user/data/

# Strategy params
symbol=XBTUSD
libraryLocation=/home/user/install/lib/libtrading_strategies.so
factoryMethod=RegisterBreakOutStrategy
clOrdPrefix=MCST
startingAmount=1000
