connectionString = wss://testnet.bitmex.com
symbol = XBTUSD
baseUrl = https://testnet.bitmex.com/api/v1/

#baseUrl = "https://www.bitmex.com/api/v1/" # Once you're ready, uncomment this.

# The BitMEX API requires permanent API keys. Go to https://testnet.bitmex.com/app/apiKeys to fill these out.

#apiKey=nPVsQ3jOHgdCh6IG6xBjR3jf
#apiSecret=OkOh4Z5lbNMNdPY6iuQ_yJx8HsjrOXquZ5VJTW1XcH8_4UMk
apiKey=-rqipjFxM43WSRKdC8keq83K
apiSecret=uaCYIiwpwpXNKuVGCBPWE3ThzvyhOzKs6F9mWFzc9LueG3yd

#Connecting to wss://testnet.bitmex.com/realtime?subscribe=quote:XBTUSD,trade:XBTUSD,instrument,order:XBTUSD,execution:XBTUSD,margin,position